body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9e6666;
    text-align: center;
}

.calculator{
    width: 45em;
    height: 47em;
    margin: 75px auto;
    padding: 20px;
    background-color: #383333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.screen{
    width: 720px;
    height: 100px;
    background-color: #9e9b9b;
    border-radius: 10px;
    text-align: right;
    font-size: 50px;
    line-height: 100px;
    overflow: scroll;
    
}


.button-container{
    width: 45em;
    height: 35em;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 1px;
   
}

.button{
    background-color: #f57d7d;
    border: 2px solid #000;
    flex: 1 0 calc(100%/5);
    height: calc(100%/4);
    min-width: 0;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

.header{
    background-color: #383333;
    color: rgb(238, 112, 108);
    padding: 10px 0;
    margin-bottom: -20px;
}